/* General Styles */
html {
    text-align: center;
    font-family: Arial;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, rgba(29, 1, 1, 0.856) 50%, rgba(22, 0, 0, 0.658) 100%), url(1BG.jpg) no-repeat fixed center;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

/* Navigation Styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /* Change to vertical layout */
    background-color: #cc242475;
    border: 10px ridge rgb(255, 0, 0);
    outline: 10px dotted rgb(201, 204, 43);
    padding: 10px;
    width: auto;
    height: auto; /* Occupy full viewport height */
}

.nav .logo1 {
    height: 70px;
    width: auto;
    padding: 2px;
}

.title {
    display: inline-flex;
    align-items: center;
}

.titletext {
    text-align: center;
    margin-left: 5px;
    font-size: 35px;
    font-weight: 1000;
    color: #ffffff;
    font-family: Arial;
    text-shadow: 1px 5px rgba(255, 0, 0, 0.849);
    flex-grow: 1;
}

/* Main Content Styles */
.main {
    background-color: #37000094;
    border: 10px ridge rgb(255, 0, 0);
    margin: 10px; /* Adjusted margin size */
    outline: 8px dotted #e5ff00;
    flex-grow: 1; /* Occupy remaining vertical space */
}

.main ul {
    list-style: none;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    text-shadow: 1px 3px rgb(255, 0, 0);
    font-weight: 1000;
    font-family: Arial;
}

.main li {
    display: inline-block;
    width: auto;
}

.main a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 15px 20px;
}

.main a:hover {
    background-color: #ffee009d;
    color: rgb(0, 0, 0);
    transition: 1s;
}

.tagl{
    background-color: #5e15158f;
    margin: 10px;
    margin-top: 20px;
    color: #9b0505;
    border: 10px ridge #ff0000;

}

.tagline3 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
}

.tagline3 {
    font-size: 20px;
    font-weight: 1000;
    font-family: Arial;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 4px rgb(0, 0, 0); 
}

.tagline2 {
    font-size: 18px;
    font-weight: bolder;
    font-family: Arial;
    text-align: center;
    color: #eeff00;
    text-shadow: 1px 4px rgb(0, 0, 0);  
}

.tagline {
    font-size: 18px;
    font-weight: 1000;
    font-family: Arial;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 4px rgb(0, 0, 0);
    
}

.tagline1 {
    font-size: 19px;
    font-weight: 1000;
    font-family: Arial;
    text-align: center; 
    text-shadow: 1px 4px rgb(255, 0, 0);
    background-color: #150846;
    width: 30%; 
    padding: 10px;
    margin: auto; 
    border-radius: 50px;
    border: 10px ridge #eeff00;
    outline: 5px dotted rgb(201, 204, 43); 
    margin-bottom: 10px; 

}

.scroll-container {
    font-family: Arial;
    background-color: #ff000031;
    overflow: auto;
    white-space: nowrap;
    border: 10px ridge #ff0000;   
    padding: 10px;
    margin: 10px;
    
  } 

.scroll-container img {
    padding:  1px;
    height: 400;
    width: 400;
    transition: transform .2s;
    outline: 5px dotted rgb(201, 204, 43); 
}

.scroll-container img:hover {
    transform: scale(1.3); /*zoom*/
    width: 400px;
    height: 400px;
    overflow: visible;
}

.menu-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Adjust spacing between items */
}

.image-container {
    position: relative;
    margin-bottom: 10px; /* Adjust space between image and title */
}

.image-container img {
    width: 400px;
    height: 400px;
    padding: 1px;
    transition: transform .2s;
}

.image-container img:hover {
    transform: scale(1.3); /*zoom*/
}

.menu-div {
    margin-top: 5px;
    outline: 5px dotted rgb(201, 204, 43); 
    display: flex;
    background-color: rgb(5, 10, 73);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    border: 5px ridge #eeff00;
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
    color: #fbff00;
    text-align: center;
    text-shadow: 1px 2px rgb(255, 0, 0);
    
    padding: 10px;
    
}

.menu-price {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fbff00;
    text-align: center;
    text-shadow: 1px 2px rgb(255, 0, 0);
    
    padding: 10px;
    
}

.about{
    background-color: #150846;
    font-weight: 1000;
    font-size: 40;
    font-family: Arial;
    margin: 10px;
    text-align: center;
    color: #ffffff;
    border: 10px ridge #3700ff;
    margin: auto;
    text-shadow: 1px 3px rgb(25, 0, 255);
    outline: 10px dotted rgb(201, 204, 43);
}

.about1{
    background-color: #150846;
    font-weight: 1000;
    font-size: 20;
    text-align: justify;
    color: #ffffff;
    font-family: Arial;
    padding: 10px;
    margin: 10px;
    border: 10px ridge #3700ff;
    text-shadow: 1px 3px rgb(25, 0, 255);
    margin-left: 50;
    margin-right: 50;
}

.homeabout1 ul{
    overflow: hidden;
    list-style: none;
    background-color: #e608088f;
    text-align: center;
    margin: auto;
    padding: 15px;
    border: 10px ridge black;
    font-size: 20;
    text-shadow: 1px 3px rgb(255, 0, 0); 
    outline: 10px dotted rgb(201, 204, 43); 
    font-weight: 1000;
    font-family: Arial;
    width: 190px;
    
}
.homeabout1 li{    
    display: inline-block;
}

.homeabout1 a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    
}
.homeabout1 a:hover {
    background-color: #e5ff0098;
    color: rgb(0, 0, 0);
    transition:1s;
}

.cont{
    background-color: #150846;
    font-weight: 1000;
    font-size: 40;
    font-family: Arial;
    margin: 10px;
    text-align: center;
    color: #ffffff;
    border: 10px ridge #3700ff;
    margin: auto;
    text-shadow: 1px 3px rgb(25, 0, 255);
    outline: 10px dotted rgb(201, 204, 43);
    
}

.cont1{
    background-color: #150846;
    font-weight: 1000;
    font-size: 20;
    text-align: center;
    color: #ffffff;
    font-family: Arial;
    padding: 10px;
    margin: 10px;
    border: 10px ridge #3700ff;
    text-shadow: 1px 3px rgb(25, 0, 255);
    margin-left: 50;
    margin-right: 50;
}

.homecont1 ul{
    overflow: hidden;
    list-style: none;
    background-color: #ff000073;
    text-align: center;
    margin: auto;
    padding: 15px;
    border: 10px ridge black;
    font-size: 20;
    text-shadow: 1px 3px rgb(255, 0, 0); 
    outline: 10px dotted rgb(201, 204, 43); 
    font-weight: 1000;
    font-family: Arial;
    width: 190px;
    
}
.homecont1 li{    
    display: inline-block;
}

.homecont1 a{
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    
}
.homecont1 a:hover {
    background-color: #e0bfbf98;
    color: rgb(0, 0, 0);
    transition:1s;
}

.homeabout1 ul{
    overflow: hidden;
    list-style: none;
    background-color: #150846;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 15px;
    font-size: 20;
    border-radius: 50px;
    text-shadow: 1px 3px rgb(255, 0, 0); 
    border: 10px ridge #eeff00;
    outline: 5px dotted rgb(201, 204, 43);
    font-weight: 1000;
    font-family: Arial;
    width: 15%;
    
}
.homeabout1 li{    
    display: inline-block;
}

.homeabout1 a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    
}
.homeabout1 a:hover {
    background-color: #e0bfbf98;
    color: rgb(0, 0, 0);
    transition:1s;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    /* Example styles */
    .nav {
        flex-direction: column;
    }

    .main ul {
        flex-direction: column;
    }

    .main li {
        margin-bottom: 10px;
    }
}